<div class="nav">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1024px-International_Pok%C3%A9mon_logo.svg.png" alt="logo">
    <form onsubmit="return false;">
    <input placeholder="Insert Pokemon name" type="search" (keyup) = "Namehandler({pigeonhole : $event})">
    <button (click)="Namesearch()">Search</button>
   </form>
</div>
<div class="container" id="elements">
  <button (click)="Change({value : 10})">10 Pokemons per page</button>
  <button (click)="Change({value : 15})">15 Pokemons per page</button>
  <button (click)="Change({value : 25})">25 Pokemons per page</button>
  <button (click)="Change({value : 50})">50 Pokemons per page</button>
  <button (click)="Typesearch({type : 'bug'})" style="background-color: #f8d5a3">Bug</button>
  <button (click)="Typesearch({type : 'fire'} )" style="background-color: #FDDFDF">Fire</button>
  <button (click)="Typesearch({type : 'grass'})" style="background-color: #DEFDE0">Grass</button>
  <button (click)="Typesearch({type : 'electric'})" style="background-color: #FCF7DE">Electric</button>
  <button (click)="Typesearch({type : 'water'})" style="background-color: lightseagreen">Water</button>
  <button (click)="Typesearch({type : 'ground'})" style="background-color: #f4e7da">Ground</button>
  <button (click)="Typesearch({type : 'rock'})" style="background-color: #d5d5d4">Rock</button>
  <button (click)="Typesearch({type : 'fairy'})" style="background-color: #fceaff">Fairy</button>
  <button (click)="Typesearch({type : 'poison'})" style="background-color: #98d7a5">Poison</button>
  <button (click)="Typesearch({type : 'dragon'})" style="background-color: #97b3e6">Dragon</button>
  <button (click)="Typesearch({type : 'psychic'})" style="background-color: #eaeda1">Psychic</button>
  <button (click)="Typesearch({type : 'flying'})" style="background-color: #F5F5F5">Flying</button>
  <button (click)="Typesearch({type : 'fighting'})" style="background-color: #E6E0D4">Fighting</button>
  <button (click)="Typesearch({type : 'normal'})" style="background-color: #F5F5F5">Normal</button>
  <button  (click)="All()">All</button>
</div>
<div class="container">
  <div class="pokemon-box" *ngFor="let pokemon of pokemons">
    <div class="front">
    <img [src]="pokemon.sprites.front_default" class="icontainer">
      <h5>{{pokemon.name.toUpperCase()}}</h5>
      <h6 >Type: <strong id="type" style="background-color: {{colors[pokemon.types[0].type.name]}}">{{pokemon.types[0].type.name}}</strong></h6>
    </div>
    <div class="back">
      <h5>{{pokemon.name.toUpperCase()}}</h5>
      <span>HP: {{pokemon.stats[0].base_stat}}</span><br>
      <span>Attack: {{pokemon.stats[1].base_stat}}</span><br>
      <span>Defense: {{pokemon.stats[2].base_stat}}</span><br>
      <span>S-Attack: {{pokemon.stats[3].base_stat}}</span><br>
      <span>S-Defense: {{pokemon.stats[4].base_stat}}</span><br>
      <span>Speed: {{pokemon.stats[5].base_stat}}</span><br>
    </div>
  </div>
</div>
<div class="scroll">
<button (click)="Back()">Back</button>
  <button (click)="Next()">Next</button>
</div>
